#!/usr/bin/env bash

# Merge the current branch into master and delete it
function merge_and_delete_branch() {
  local BRANCH=`name`

  echo "Checking out \"master\"..."
  co master

  echo "Merging branch \"${BRANCH}\" into master..."
  git merge $BRANCH

  # Delete the branch
  echo "Cleaning up branch \"${BRANCH}\"..."
  gb -D $BRANCH
}

function join_by() {
	local IFS="$1";
	shift;
	echo "$*";
}

# `s` with no arguments opens the current directory in Sublime Text, otherwise
# opens the given location
function s() {
  if [ $# -eq 0 ]; then
    subl .;
  else
    subl "$@";
  fi;
}

# `a` with no arguments opens the current directory in Atom Editor, otherwise
# opens the given location
function a() {
  if [ $# -eq 0 ]; then
    atom .;
  else
    atom "$@";
  fi;
}

# `v` with no arguments opens the current directory in Vim, otherwise opens the
# given location
function v() {
  if [ $# -eq 0 ]; then
    vim .;
  else
    vim "$@";
  fi;
}

# `o` with no arguments opens the current directory, otherwise opens the given
# location
function o() {
  if [ $# -eq 0 ]; then
    open .;
  else
    open "$@";
  fi;
}
